*{
    text-align: center;
    font-family: sans-serif;
    background-color: gainsboro;
}
.container
{margin: 0 auto;
    border: 2px solid rgb(255, 255, 255);
width: 50vw;height: auto;
box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.6);
padding-bottom: 10px;}
.imgp{
    width: 50%;
}
#get-userbtn{
    font-weight: bolder;
}